.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorchid;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 2rem;
  border-radius: 15px;
}
